/**
 * Overrides to reset.css
 */
@font-face {
    font-family: 'slackey_regular';
    src: url('fonts/slackey_regular.eot');
    src: url('fonts/slackey_regular.eot') format('embedded-opentype'),
         url('fonts/slackey_regular.woff2') format('woff2'),
         url('fonts/slackey_regular.woff') format('woff'),
         url('fonts/slackey_regular.ttf') format('truetype'),
         url('fonts/slackey_regular.svg#slackey_regular') format('svg');
}

html, button, input, select, textarea {
  color: #000000;
}

h1 {
  color: white;
}
::-moz-selection { background: #39f; }
::selection { background: #39f; }

/*****************************************************************************/

.transparent_button {
    	background-color: transparent;
        border: 0px;
    }
    
html, body {
  background-color: #212020;
  font-family: 'slackey_regular';
}

html, body, canvas {
  padding: 0;
  margin: 0;
  font-family: 'slackey_regular';
  overflow: 'hidden';
}

canvas {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  border: 0px solid rgba(0,0,0,1);
  display: block;
  margin: 0 auto;
  user-select: none;
}
