/**
 * Overrides to reset.css
 */

html, button, input, select, textarea {
  color: #000000;
}

h1 {
  color: white;
}
::-moz-selection { background: #39f; }
::selection { background: #39f; }

/*****************************************************************************/

html, body {
  background-color: #212020;
  font-family: Arial, sans-serif;
}

html, body, canvas {
  padding: 0;
  margin: 0;
}

canvas {
  width: 640;
}

@media screen and (max-width: 640px) {
  canvas {
    width: 100%;
  }
}

canvas {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  border: 0px solid rgba(0,0,0,1);
  display: block;
  margin: 0 auto;
  user-select: none;
}
